{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["semantic-release-plugin-update-version-in-files", {
        "files": [
            "src/version.ts"
        ],
        "placeholder": "0.0.0-automated"
    }],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}